.idea/
*.iml
### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
git checkout master
git branch main master -f
git checkout main
git push origin main -f
### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store